# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# User Template
temp.*
*.csv
*.pickle
NLP/gtlee
NLP/midterm
NLP/final
cmake-build-debug
cmake-build-release
.ipynb_checkpoints
*.txt
*.png
*.dat
